:root {
  --brandcolor: #212121;
  --first-title-color: #ffffff;
  --second-titlt-color: #212121;
  --background-nav-color: #ffffff;
  --background-first-color: #2f303a;
  --background-heroy-color: #e5e5e5;
  --background-features-doing-color: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-basement-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
}
.body {
  cursor: pointer;
}
li {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.li {
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ------------NAV------------ */
.logo {
  margin-left: 200px;
  margin-right: 93px;
  padding-left: 15px;
  font-family: "Raleway";
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}
.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.link-studio {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.bar-link .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brandcolor);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.bar-link .link:hover,
.bar-link .link:focus {
  color: #2196f3;
}
.contacts {
  margin-right: 215px;
  padding-right: 15px;
  padding-left: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(117, 117, 117, 1);
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link :focus {
  color: #2196f3;
}
.contacts {
  display: flex;
}
.contacts .item + .item {
  margin-left: 50px;
}
.bar-link {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-right: 331px;
}

.bar-link .item + .item {
  margin-left: 50px;
}
.nav-container {
  display: flex;
  align-items: center;

  /* border: 1px solid #ececec; */
  outline: 2px solid tomato;
}
/* ------------NAV------------ */

/* ------------HEROY---------- */
.heroy {
  background: #2f303a;
  text-align: center;
}
/* background: #2f303a;
  text-align: center; */

.title-heroy {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  color: var(--first-title-color);
  text-transform: uppercase;
  padding: 200px 452px 280px 452px;
  margin: 0px;
}

.button-heroy {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  background: #2196f3;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 200px;
}

/* ------------HEROY---------- */

/* -----------FEATURES---------- */
.features-title {
}

.features-container {
  display: flex;
  width: 1230px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features-about {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-container .item {
  margin-right: 30px;
}

.features-container .item:last-child {
  margin-right: 0px;
}

/* -----------FEATURES---------- */

/* -----------DOING------------- */
.doing-container {
  display: flex;
  justify-content: center;
  width: 1230px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}

.doing-container .item {
  margin-right: 30px;
}
.doing-container .item:last-child {
  margin-right: 0px;
}
/* -----------DOING------------- */

/* -----------TEAM-------------- */
.team {
  background: #f5f4fa;
}
.team-container {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.team-container .item {
  margin-right: 30px;
}
.team-container .item:last-child {
  margin-right: 0px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
  text-align: center;
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

/* -----------TEAM-------------- */

/* -----------FOOTER------------ */
.basement {
  background: #2f303a;
}

.content-basement {
  display: block;
  width: 1200px;
  padding-left: 200px;
  /* padding-left: 15px; */
}
.basement-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--first-title-color);
}
.basement-logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.basement-location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.basement-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.basement-contacts-link:hover,
.basement-contacts-link:focus {
  color: #2196f3;
}

.basement-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.basement-contacts-link :hover,
.basement-contacts-link :focus {
  color: #2196f3;
}

/* -----------PORTFOLIO------------ */
.link-portfolio {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.filter-button-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  color: var(--brandcolor);
  background: #f5f4fa;
}
.filter-button-link:hover,
.filter-button-link:focus {
  color: var(--background-nav-color);
  background: #2196f3;
}

.filter-examples {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.filter-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
